<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title- Centro Controlador</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   

</head>
<body>
    <nav>
        <div class="nav-wrapper deep-purple lighten-1">
            @Html.ActionLink("Centro Controlador", "Index", "visitas", null, new { @class = "brand-logo" })
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Visitas", "Index", "visitas")</li>
                <li>@Html.ActionLink("Contactos", "Index", "contactoes")</li>
            </ul>
        </div>
    </nav>


    <div>
        @RenderBody()
        <hr />
        <div style="padding-top:100px;">
            <footer class="page-footer deep-purple lighten-1"style="position:fixed;bottom:0;left:0;width:100%;">
                <div class="container">
                 <p>Carmen María Sánchez Tolentino - 2018-5862</p>
                   
                </div>

            </footer>
     
    </div>
       </div>
   


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
