@model IEnumerable<Examen_Final_WEB.Models.contacto>

@{
    ViewBag.Title = "Index";
}

<h2>Contactos</h2>

<p>
    @Html.ActionLink("Create Nuevo Contacto", "Create", null,  new { @class = "waves-effect waves-light btn-small" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.documentoIdentidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.documentoIdentidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }, new { @class = "waves-effect waves-light btn-small" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }, new { @class = "waves-effect waves-light btn-small" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id },  new { @class = "waves-effect waves-light btn-small" })
        </td>
    </tr>
}

</table>
